.login-cont{
    width : 100%;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

.home-cont{
    width : 100%;
    height : 100vh;
    background-image: url("./../assets/homepagebackgroundimage.jpg");
    background-size: cover;
}